<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myroom1">

    <application
        android:name="com.example.financialassistant.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.financialassistant.UI.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.financialassistant.UI.Activity.DocumentActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.AddIncomeActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.IncomeActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.CostActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.AddDocumentActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.AddCostActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.StatisticsActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.StatisticsIncomeActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.StatisticsCostActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.UpIncomeActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.UpCostActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.UpDocumentActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.AllStatisticsActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.PeriodActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.CategoryCostActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.AddUpCategoryIncomeActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.AddUpCategoryCostActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.CategoryIncomeActivity" />
        <activity android:name="com.example.financialassistant.UI.Activity.DiagramActivity" />



    </application>

</manifest>